# Youtube 頻道排行資料整理

In [24]:
import pandas as pd
YT排名_df = pd.read_excel("YT排名.xls")
display(YT排名_df.info()) # 整份df 類型 描述出來
display(YT排名_df.describe()) #整份df 有關數值 基本參數都會算出來
YT排名_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5000 non-null   int64
 1   Rank           5000 non-null   object
 2   Grade          5000 non-null   object
 3   Channel name   5000 non-null   object
 4   Video Uploads  5000 non-null   object
 5   Subscribers    5000 non-null   object
 6   Video views    5000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 273.6+ KB

None

        Unnamed: 0   Video views
count  5000.000000  5.000000e+03
mean   2499.500000  1.071449e+09
std    1443.520003  2.003844e+09
min       0.000000  7.500000e+01
25%    1249.750000  1.862329e+08
50%    2499.500000  4.820548e+08
75%    3749.250000  1.124368e+09
max    4999.000000  4.754884e+10

,Unnamed: 0,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,0,1st,A++,Zee TV,82757,18752951,20869786591
1,1,2nd,A++,T-Series,12661,61196302,47548839843
2,2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,3,4th,A++,SET India,27323,31180559,22675948293
4,4,5th,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...,...
4995,4995,"4,996th",B+,Uras Benlioğlu,706,2072942,441202795
4996,4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,4999,"5,000th",B+,SehatAQUA,254,21172,73312511

# 將欄位Rank轉為數字型態與處理

In [25]:
YT排名_df['Rank'] = YT排名_df['Rank'].str[0:-2].str.replace(',','').astype('int')
YT排名_df

,Unnamed: 0,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,0,1,A++,Zee TV,82757,18752951,20869786591
1,1,2,A++,T-Series,12661,61196302,47548839843
2,2,3,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,3,4,A++,SET India,27323,31180559,22675948293
4,4,5,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...,...
4995,4995,4996,B+,Uras Benlioğlu,706,2072942,441202795
4996,4996,4997,B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,4997,4998,B+,Mastersaint,110,3265735,311758426
4998,4998,4999,B+,Bruce McIntosh,3475,32990,14563764
4999,4999,5000,B+,SehatAQUA,254,21172,73312511

# 找出包含連字號(Hyphen)的索引值，使用drop方法刪除有連字號的資料
官網文件：https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [26]:
# YT排名_df[YT排名_df['Subscribers'].str.contains('--')]
YT排名_df.drop(labels=YT排名_df[YT排名_df['Subscribers'].str.contains('--')].index, axis='index', inplace=True)
YT排名_df['Subscribers'] = YT排名_df['Subscribers'].astype('int')

### 尋找Grade欄位有幾種等級
函式unique ( ) <br>
A++, A+, A, A-, B+

In [20]:
YT排名_df['Grade'].unique()

array(['A++ ', 'A+ ', 'A ', 'A- ', 'B+ ', '\xa0 '], dtype=object)

# 將欄位Grade等級，轉換為數字

In [27]:
grade_map = {'A++ ':5, 'A+ ':4, 'A ':3, 'A- ':2, 'B+ ':1}
YT排名_df['Grade'] = YT排名_df['Grade'].map(grade_map)

In [29]:
YT排名_df.isnull().sum()
YT排名_df = YT排名_df.dropna(axis = 'index', how='any')
YT排名_df

Unnamed: 0       0
Rank             0
Grade            3
Channel name     0
Video Uploads    0
Subscribers      0
Video views      0
dtype: int64